@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;500&display=swap');

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  background-color: #383737;
}