@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;500&display=swap');

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.jumbotron {
  min-height: 100vh;
  /* centering */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
  background-color: black;
}
.jumbo-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
}
.shadow-custom {
  box-shadow: black;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  color: grey;
}
.nav-link:hover {
  color: white;
}
.btn-primary-custom {
  background-color: rgb(241, 183, 22);
  color: black;
  font-weight: 700;
}
.btn-primary-custom:hover {
  background-color: rgb(238, 172, 18);
  // box-shadow: 0 0 2px 2px rgb(241, 183, 22, 0.8);
}
.footer-info {
  background-color: rgb(9, 9, 9);
  font-size: 12px;
  font-weight: 500;
}
.bottom-nav {
  padding: 0 0.3rem;
}
hr {
  background-color: gray;
  display: block;
  border-style: inset;
  border-width: 1px;
  margin: 0;
}
.bg-lobby {
  padding: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url('/img/landing/the-games-bg.jpg');
  height: 100vh;
}
.card-lobby {
  margin: auto;
  margin-top: 30px;
  align-items: center;
  margin-top: auto;
}
.dashboard {
  // background-image: linear-gradient(
  //     360deg,
  //     rgba(0, 0, 0, 1) 5%,
  //     rgba(11, 11, 11, 0.8) 18%,
  //     rgba(37, 37, 37, 0.6) 37%,
  //     rgba(255, 255, 255, 0) 85%
  //   ),
  //   url('/img/landing/features.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: black;
}
.profile {
//   background-image: linear-gradient(
//       360deg,
//       rgba(0, 0, 0, 1) 5%,
//       rgba(11, 11, 11, 0.8) 18%,
//       rgba(37, 37, 37, 0.6) 37%,
//       rgba(255, 255, 255, 0) 85%
//     ),
//     url('/img/landing/requirements.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.error {
  color: #ff4b4b;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: 500;
}
.btn-page {
  max-height: 2rem;
  width: auto;
  font-size: 0.8rem;
}
@media only screen and (max-width: 420px) {
  .col-sm-nav {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0;
    text-align: center;
  }
  .bottom-nav-sm {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
