body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgb(5, 5, 5);
    // background: linear-gradient(#061124, #101111);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(211, 186, 44, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(182, 170, 170, 0.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(197, 172, 172);
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(186, 195, 235);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(51, 48, 48);
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(48, 41, 41);
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bacfcf;
    font-size: 12px;
  }
 
 .btn-lgn {
    font-size: 19px;
    padding: 5px 30px;
    margin-left: 100px;
    margin-bottom: 0px;
    border: 0;
    background-color: #aaafe2;
    border-radius: 9px;
    }